* {
    background-color: rgb(54, 54, 54);
    color: rgb(201, 201, 201);
}

h1 {
    text-align: center;
}

.deathKnight {
    color: #c41e3a;
}

.demonHunter {
    color: #a330c9;
}

.druid {
    color: #ff7c0a;
}

.hunter {
    color: #aad372;
}

.mage {
    color: #3fc7eb;
}

.monk {
    color: #00ff98;
}

.paladin {
    color: #f48cba;
}

.priest {
    color: white;
}

.rogue {
    color: #fff468;
}

.shaman {
    color: #0070dd;
}

.warlock {
    color: #8788ee;
}

.warrior {
    color: #c69b6d;
}
