.mythickeystonescontentline {
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr;
    padding: 8px;
    border-bottom: 1px solid rgb(201, 201, 201);
    border-left: 1px solid rgb(201, 201, 201);
    border-right: 1px solid rgb(201, 201, 201);
    &:first-child {
        border-top: 1px solid rgb(201, 201, 201);
    }

    span {
        text-align: center;
    }

    &-title {
        font-weight: bold;
    }

    &-item {
        &:hover {
            background-color: black;
            cursor: pointer;
        }
    }
}

.mythickeystonescontent {
    display: grid;
    grid-template-columns: 600px 300px;
    column-gap: 20px;
}

.mythickeystonesdetails {
    border: 1px solid rgb(201, 201, 201);
    height: fit-content;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .keystones {
        margin-top: 10px;
        .keystone {
            margin-bottom: 5px;
            display: grid;
            grid-template-columns: 200px 30px;
            .level {
                text-align: right;
            }
        }
    }
}
